main {
  min-height: 80vh;
  font-size: 50px;
  margin-top: 5rem;
}

.navdrop {
  background-color: transparent;
  font-size: medium;
}
.navdrop:hover {
  background-color: #00b1ff;
}

.zoom {
  transition: transform 0.2s; /* Animation */

  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1); /* (10% zoom)*/
  z-index: 1;
}
/*see ProductScreen.js*/
.priceCard {
  opacity: 0.6;
  margin-top: 2%;

  position: fixed;
  top: 11%;
  right: 0%;
  z-index: 2;
}
.priceCard:hover {
  opacity: 1;
}
/*see YouTubePlayer.js ////////////////////*/
.youtube-player {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.youtube-player .handle {
  /* position: absolute;
  bottom: -24%;
  right: 96%; */
  display: 'flex';
  align-items: 'flex-start';
  color: rgb(7, 7, 7);
  opacity: 0.85;
  font-size: 1.5rem;
  cursor: move;
}

.youtube-player .expand {
  /* position: absolute;
  bottom: -1.5rem;
  left: 22rem; */
  text-align: right;
  font-size: 20px;
  z-index: -1;
  background-color: greenyellow;

  color: rgb(7, 7, 7);
  opacity: 1;
}
